#nav-color {
    background-color: darkslategray;
}

#nav-items {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    color: white;
    margin-right: 10px;
}

#background {
    background-color: #4d4d4d;
}

#body {
    padding-left: 10px;
    padding-top: 10px;
}

#main {
    padding-left: 10px;
}