{% extends "layout.html" %}

{% block title %}
<title>stats</title>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
<script src="static/stats.js"></script>
{% endblock %}

{% block body %}
<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div id="not-picked" style="width:1000px; height:400px; display: table-cell;"></div>
        <div id="part-of-whole" style="width:1000px; height:400px; display: table-cell;"></div>
    </div>
</div>
<div id="rolling-average" style="width:1000px; height:400px;"></div>

<script>
    var data = {{ data }};
    window.localStorage.setItem("data", JSON.stringify(data));
</script>
{% endblock %}