{% extends "layout.html" %}

{% block title %}
<title>stats</title>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js"></script>
<script src="static/stats.js"></script>
{% endblock %}

{% block body %}
test test
<script>
    var data = {{ data }};
    window.localStorage.setItem("data", JSON.stringify(data));
</script>
{% endblock %}